.travel{
    display: flex;
    flex-direction:column;
    padding: 10px;
    border: 0.2px solid gray;
    font-weight: bolder;
    text-align: center;
    color:green;
    box-shadow: 2px 4px 10px rgba(11, 201, 43, 0.2); /* Box shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; 

}
.travel img{
    width: 220px;
    outline:auto;
}
.travel:hover {
    transform: scale(1.05);
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}
.container{
    margin:0 auto;
    display: flex;
    gap:20px;
    width: 80%;
    flex-wrap: wrap;
}
h2{
    text-align: center;
    color:blue;
}